@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Mohave:ital@1&family=Space+Mono&family=Work+Sans:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kaushan+Script&family=Merriweather:ital@0;1&family=Mohave:wght@400;500;600;700&family=Space+Mono&family=Work+Sans:wght@400;500;800&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffbee;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
}

nav {
  display: flex;
  font-family: "Mohave", sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 1px gray;
  font-size: 20px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.box_3 a:hover {
  color: rgb(99, 0, 0);
  text-decoration: underline;
}

.box_1 {
  flex-grow: 1;
  margin-left: 27px;
  margin-top: 35px;
  color: rgb(99, 0, 0);
  text-decoration: underline;
}

.box_2,
.box_3 {
  margin-top: 35px;
  margin-right: 27px;
}

.statement {
  display: flex;
}

.designer_statement {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 115px;
  margin-top: 230px;
}

h1 {
  font-family: "Kaushan Script", serif;
  font-size: 65px;
}

#designer_statement_explanation {
  font-family: "Mohave",sans-serif;
  font-size: 1.2em;
  padding-left: 10px;
  margin-top: 10px;
}

#designer_statement_explanation  span {
  font-weight: bold;
}


#landing_img {
  display: flex;
  width: 45%px;
  height: 890px;
  margin-top: 50px;
}



.arrow-under > img,
.arrow-upper > img {
  width: 46px;
  height: 40px;
  display: block;
  margin: auto;
}

.arrow-under hr {
  border: 1px solid black;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 33px;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.project_1 {
  background-color: rgb(33, 107, 107, 0.8);
  border-radius: 100px;
  height: 208px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}



.project_2 {
  background-color: #FCF1E1;
  border-radius: 100px;
  height: 208px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1px;
}

.project_2 >h2,h3,p {
  margin-left: 60px;
}

.project_2 > img {
   width: 28%;
   height: 175px;
   position: absolute;
   left: 56%;
   margin-top: 10px;
}

.project_3 {
  background-color: #FAF7D6;
  border-radius: 100px;
  height: 208px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 1px;
}

.project_3 > img {
  width: 99%;
  height: 250px;
  position: absolute;
  padding-right: 10%;
  left: 6.3%;
}

.project_1:hover,.project_2:hover,.project_3:hover {
  border: 22px solid white;
}

h2 {
  font-family: "Kaushan Script",serif;
  color: rgb(99, 0, 0);
}

h3 {
  font-family: "Mohave",sans-serif;
  font-weight: 600;
}

#cover_text {
  font-size: 1.3em;
}

#cover_text span {
  color: #D8B6A4;
}


p {
  font-family: "Mohave",sans-serif;
}

.arrow-upper {
  margin-top: 30px;
}

.arrow-upper > img {
  transform: rotate(180deg);
}

.arrow-upper hr {
  border: 1px solid black;
}

.marker {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.marker__name {
  font-family: "Kaushan Script", cursive;
  color: rgb(99, 0, 0);
  font-size: 50px;
  transform: rotate(-20deg);
  margin-top: -34px;
}

.marker__state {
  font-family: "Mohave", sans-serif;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 1rem;
}